<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string></string>

	<key>CFBundleIdentifier</key>
	<string>com.plexapp.plugins.cicgc</string>

	<key>CFBundleVersion</key>
	<string>1.0</string>

	<key>PlexClientPlatforms</key>
	<string>*</string>

	<key>PlexFrameworkVersion</key>
	<string>2</string>

	<key>PlexPluginMode</key>
	<string>AlwaysOn</string>
	
	<key>PlexURLServices</key>
	<dict>
		<key>CICGC</key>
		<dict>
			<key>Identifier</key>
			<string>com.plexapp.plugins.cicgc</string>
			<key>URLPattern</key>
			<string>http://.*comediansincarsgettingcoffee.com/</string>
			<key>TestURLs</key>
			<array>
				<string>http://comediansincarsgettingcoffee.com</string>
				<string>http://comediansincarsgettingcoffee.com/larry-david-larry-eats-a-pancake/</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
